
@use 'styles/variables.scss' as *;
@use 'styles/mixin.scss' as *;


.page__product {
  @include container;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  padding-bottom: 146px;

  // @media (max-width: 890px) {
  //   padding-top: 30px;
  // }

}



.product{
  &__button-container {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
  }
  
  &__button_back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 129px;
    height: 48px;
    text-align: start;
    @media (max-width: 890px) {
      width: 90px;
    }

  }
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: $space-xxl;
  }
  &__wrapper {
    padding-top: $space-xxl;
    display: flex;
    gap: $space-xxl;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 890px) {
      padding-top: 30px;
    }
    @media (max-width: 860px) {
      flex-direction: column;
      align-items: center;

    }
  

  }
  
}











