@use 'styles/variables' as *;
@use 'styles/mixin' as *;

.header-block {
	text-align: center;
	letter-spacing: 0.2px;
}
.header-block__title {
	line-height: 142%;
	font-weight: 700;
	font-size: 40px;
}
.header-block__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
	line-height: 142%;
	color: #737373;
}
@media (max-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}
.practice {
	padding: 125px 0px 80px 0px;
}
@media (max-width: 993px) {
	.practice {
		padding: 40px 0px 80px 0px;
	}
}
@media (max-width: 767px) {
	.practice {
		padding: 0px 0px 40px 0px;
	}
}
.practice__container {
    @include container;
	margin-top: 50px;
}
.practice__header {
	margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {
	.practice__header {
		margin: 0px 0px 25px 0px;
	}
}

.practice__body {
	margin: 0px -20px -30px;
	display: flex;
	flex-wrap: wrap;
}
.practice__column {
	padding: 0px 20px;

	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}

@media (max-width: 1040px) {
	.practice__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {
	.practice__column {
		flex: 0 1 100%;
	}
}

.practice__item {
}
.item-practice {
	background-color: #fff;
	display: flex;
	height: 100%;
	border: 2px solid $accent;
	flex-direction: column;
}
.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.item-practice__link {
	color: inherit;
	display: inline-block;
}
.item-practice__link:hover {
	text-decoration: underline;
}
.item-practice__link:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-practice__title {
	letter-spacing: 0.1px;
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
}
.item-practice__text {
	color: #737373;
	line-height: 142%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: keep-all;
    overflow-wrap: normal;
}
.item-practice__image {
	display: block;
	width: 100%;
	height: auto;
	padding: 10px;
	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
