@use 'styles/variables' as *;
@use 'styles/mixin' as *;


$first-color: yellow;
$second-color: rgb(250, 219, 42);

.application {

	display: flex;
	justify-content: center;
	align-items: center;
  color: #3b3a3a;

	transition: all 0.3s ease 0s;
  font-weight: 600 !important;
	border-radius: 5px;
    margin: 10px 0;
    width: 170px;
    flex-wrap: nowrap;       
  background: linear-gradient(135deg,$second-color 25%, $first-color 25%, $first-color 50%, $second-color 50%, $second-color 75%, $first-color 75%, $first-color) 0 0;
  background-size: 50px 50px; /* Размер полосок */
  animation: stripes 1.5s infinite; /* Анимация полосок */



  


@keyframes stripes {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 50px 50px; /* Размер полосок */
  }
}

   
  
  
}
.page__main-block{
  @include container;
}

.basketContainer{
  margin-top: 100px;
}
.basketPage {
  padding: 150px 100px;

}

.basketTitle {
  font-size: 32px;
  margin-bottom: 20px;
}

.emptyBasket {
  margin-top: 100px;  
  font-size: 18px;
  color: #777;
}

.basketContent {
  display: flex;
  gap: 20px;
  @media (max-width: 830px) {
   flex-direction: column-reverse;
  }
}

.basketItems {
  flex: 2;
}

.basketItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
}

.basketItemImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.basketItemDetails {
  flex: 1;
}

.basketItemName {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.basketItemPrice,
.basketItemQuantity {
  font-size: 16px;
  margin: 0;
}


.quantityButton {
  background-color: #ddd;
  border: none;
  padding: 2px 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
}

.quantityButton:hover {
  background-color: #bbb;
}
.removeButton {
  background-color: $wheel1;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #d9363e;
  }
}
.completeButton{

  background-color: #0d8f59;
  color: white;
  word-wrap: nowrap;
  border: none;
  border-radius: 4px;
  padding: 18px 22px;
  cursor: pointer;
  width: 170px;
  margin-top: 10px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #097b4c;
  }
}
.basketSummary {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.basketSummary h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.basketSummary p {
  font-size: 18px;
  margin: 5px 0;
}

.oldPrice {
  font-size: 18px;
  color: #888; /* Цвет для зачеркивания */
  text-decoration: line-through;
}
.discount{
  color: rgb(212, 212, 23);
}

.newPrice {
  font-size: 18px;
  color: rgb(32, 122, 14); /* Желтый цвет для новой цены */
  font-weight: bold;
}



.custom-toast{
  margin-top: 100px;
  @media (max-width: 992px) {
    margin-top: 60px;
    max-width: 250px;
  }
}




/* Модальное окно */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-out;
}

/* Плавное появление */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Контент модального окна */
.modalContent {
  display: flex;
  flex-direction: column;
  gap:50px;
  background: #fff;
  padding: 30px;

  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  transform: scale(0.9);
  animation: scaleIn 0.3s ease-out;
}

/* Плавный масштаб при открытии */
@keyframes scaleIn {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.modalText{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.modalTitle {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

}

.modalDiscount{
  margin-top: 40px;
  font-size: 44px;

}
/* Кнопки */
.modalButtons {
  display: flex;
  justify-content: space-around;
}

.confirmButton,
.cancelButton {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
  width: 45%;
}

.confirmButton {
  background-color: #28a745;
  color: white;
}

.cancelButton {
  background-color: white;
  border-color: black;
  border-width: 1px;
  color: black;
}

.confirmButton:hover {
  background-color: #218838;
}

.cancelButton:hover {
  background-color: #c82333;
}

/* Иконки */
.icon {
  margin-right: 10px;
}
