@use 'styles/variables' as *;
@use 'styles/mixin' as *;



.abut__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; // изменено на relative
  z-index: 1;
}


.wall {
  position: relative; // изменено на relative
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  width: 100%;
  background-color: $font;
  overflow: hidden;
  gap: 4.2rem ;

  // background: url('./font1.jpg') 0 0/cover no-repeat;
}

.row {
  z-index: 2;
  display: flex;
  gap: 2.2rem ;
  animation: 200s linear ticker-to-left infinite;
  justify-content: space-between;  // равномерно распределяем элементы по вертикали


  
  &:nth-child(even) {
    animation: 60s linear ticker-to-right infinite;
    justify-content: flex-end;
  }

  span {
    // margin-bottom: calc(10vh); 
    font-family: sans-serif;
    color: transparent;
    font-size: 10vw; 
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    -webkit-text-stroke-width: 4px;
    text-stroke-width: 4px;
    -webkit-text-stroke-color: #eceaea;
    text-stroke-color: #f5f5f5;
  }
}

@keyframes ticker-to-left {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
}

@keyframes ticker-to-right {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(100%, 0, 0); }
}



.scrollDown {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.arrow {
  display: block;
  width: 30px;
  height: 30px;
  border: solid $accent; 
  background-color: transparent;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  animation: bounce 1.5s infinite, pulseDown 1.5s infinite;
  cursor: pointer;
}


@keyframes pulseDown {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(-5px) rotate(45deg);
  }
}





.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.hero {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    height: 90%;
	font-size: 1.2em;
    font-weight: 500;
}

.hero__tagline {
	margin: 0 0 1rem 0;
}

.hero__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
	  font-size: 10rem;

    @media (max-width: 980px) {
      font-size: 8rem;
    }
    @media (max-width: 560px) {
      font-size: 6rem;
    }
    @media (max-width: 420px) {
      font-size: 4rem;
    }
    text-align: center;
    text-transform: uppercase;
    
    span {
        color: #fff;
        -webkit-text-stroke-width: 4px;
                text-stroke-width: 4px;
        -webkit-text-stroke-color: $accent;
                text-stroke-color: $accent;
        
    }
}

.hero__subtitle {
	margin: 1rem 0 0 0;
}

.hero__buttons{
  margin-top: 30px;
  display: flex;
  gap: 20px;

}
.hero__button{
  width: 130px;

}


h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px);
}

.section-description {
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title::before {
  content: '';
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  width: 26px;
  aspect-ratio: 1;
  background: url('./icons/plus.svg') center/contain no-repeat;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.3em;
  left: -0.6em;
  font-family: $accent;
  font-size: 2.8em;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 2px  $accent;
  text-stroke: 2px $accent;
}

.backdrop-title.centered::after {
  top: -0.25em;
  left: 50%;
  translate: -50% 0;
}


.family {
  // height: 100vh;
  background-color: rgb(237, 237, 237);
  padding-bottom: 100px; 
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  position: relative;
  
}

.family-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  padding-top: 132px;
  padding-bottom: 62px;
  text-align: center;
}



.family-body {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  column-gap: 26px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
    z-index: 3;
}

.family-image {
  scroll-snap-align: start;
  height: 400px;
  width: 700px;
  z-index: 3;
}



@media (max-width: 1024px) {

 

  .family-image {
    height: 360px;
  }

  

  .footer-main {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .footer-header {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .footer-body {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}

@media (max-width: 767px) {
  

  .family-image {
    height: 180px;
  }

  .family-header {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .family-body {
    column-gap: 12px;
  }

  
}
