
@use 'styles/variables' as *;

  .wheel-container {
    position: relative;
  }
  
  .wheel {
    height: 350px;
    width: 350px;
    background: $wheel1;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px gray;
    transition: 3s all;
  }
  
  .wheel .segment {
    height: 50%;
    width: 200px;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    position: absolute;
    left: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: 1000;
    color: #ffffff;
    writing-mode: vertical-rl;
  }
  
  .wheel .one {
    background: $wheel1;
    left: 50%;
  }
  
  .wheel .two {
    background: $wheel2;
    transform: rotate(60deg);
  }
  
  .wheel .three {
    background: $wheel1;
    transform: rotate(120deg);
  }
  
  .wheel .four {
    background: $wheel2;
    transform: rotate(180deg);
  }
  
  .wheel .five {
    background: $wheel1;
    transform: rotate(240deg);
  }
  
  .wheel .six {
    background: $wheel2;
    transform: rotate(300deg);
  }
  
  .center-dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    background: $wheel2;
  }
  
  .spin-button {
    height: 60px;
    width: 200px;
    background: $wheel2;
    position: absolute;
    margin-top: 400px;
    font-size: 30px;
    color: white;
    font-weight: 1000;
    letter-spacing: 4px;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 5px 10px gray;
    transition: 0.2s all;
  }
  
  .spin-button:hover {
    box-shadow: none;
  }
  
  .stoper {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #ffd600; /* Жёлтый цвет */
    position: absolute;
    top: -25px; /* Расположение над колесом */
    left: 155px;
    transform: translateX(-50%);
    z-index: 10;
    transform: rotate(180deg);
  }
  

  .additional-spin-button {
  height: 50px;
  width: 150px;
  background: $wheel1;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.additional-spin-button:disabled {
    background: $wheel2; /* Серый цвет */
    cursor:default; /* Курсор "запрещено" */
    transform: none; /* Убираем анимацию при наведении */
    box-shadow: none;
  }
  
.additional-spin-button:hover {
  background: $wheel2;
  transform: scale(1.05);
}

  