@use 'styles/variables' as *;
@use 'styles/mixin' as *;


.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
  
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: 2;
      
    }

    &.lock::before{
      border-bottom: 1px solid $accent;

    }

    &__burger{
      display: none;
    
    } 
  
    &__container {
      position: relative;
      display: flex;
      min-height: 90px;
      align-items: center;
      justify-content: space-between; 
      @include container;
    }
  
    &__logo {
      z-index: 3;
  
      img {
        max-width: 100%;
        display: block;
      }
    }
  
    &__menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &__icons {
      display: flex;
      gap: 32px;
      z-index: 3;
    }
  
    .menu__list {
      min-width: 351px;
      display: flex;
      align-items: center;
      position: absolute; 
      gap: $space-xl;
      justify-content: space-between;
      opacity: 1; 
      z-index: 2;
  
      .menu__item {
        width: 85px;
        position: relative;
        cursor: pointer;
        text-align: center;
  
        &.active {
          font-weight: 600;
          color: $accent;
  
          &::after {
            content: '';
            position: absolute;
            bottom: -34px; 
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $accent;
            transform: translateY(100%);

          }
        }
      }
    }
  
    .products__cards a {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
    }
  }


  .logoutButton{
    width: 30px;
    cursor: pointer;
  }




  .header__burger-container{
    z-index: 3;
    
  }
  
  ol, ul, dl {
    margin: 0;
  }
  


  @media (max-width: 992px) {
    .header__container {
      min-height: 50px;
      
    }
    .header__logo {
      font-size: 20px;
    }

    .header__burger-container{
      display: flex;
      align-items: center;
      gap:50px;
      z-index: 3;
      
    }

    
    .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
  
    } 
    .header__burger span{
      position: absolute;
      background-color: $accent;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;	
      transition: all 0.3s ease 0s;
      
    }
    .header__burger:before,.header__burger:after{
      content: '';
      background-color:  $accent;
      position: absolute;
      width: 100%;
      height: 2px;
      left:0;
      transition: all 0.3s ease 0s;
      
  
    }
    
  
    .header__burger:before{
      top: 0;
    }
    .header__burger:after{
      bottom:0;
    }
    .header__burger.active span{
      transform: scale(0);
      
      
    }
  
    .header__burger.active:before{
      transform: rotate(45deg);
      top: 9px;
      
  
    } 
    .header__burger.active:after{
      transform: rotate(-45deg);
      bottom: 9px;
  
    } 
  
  
    .header__menu {
      position:fixed;
      top: -100%;	
      left: 0;
      width: 100%;
      border-bottom: 1px solid var(--border);
      background-color: white;
      padding: 70px 10px 20px 0px;
      transition: all 0.3s ease 0s;
      display: flex;          
      flex-direction: column; 
      align-items: center;   
      justify-content: center;
      overflow: auto;
      height: 360px;
      border-bottom: 1px solid $accent;
   
      
    }
  
    
    .header__menu.active{
      top: 0;
    }
  
    .menu__list {
      flex-direction: column;
      align-items: center;

    }
    
    .menu__item {
      margin: 0px 0px 20px 0px;
    }
    .application{
      margin-top: 20px;
    }
  
    .menu__item:last-child {
      margin-bottom: 0;
    }


    .menu__item.active::after {
      bottom: -12px !important; 
    }
    
  }
  
  

  @media (max-width: 550px) {

    .header__burger-container{
      gap: 15px;
    }

    .header__icons {

      gap: 15px;

    }
  }